@model IEnumerable<MyShop.Models.Model>

@{
    ViewData["Title"] = "Models";
}

<h1>List of Models </h1>

<div class="float-right">
    <a class="btn btn-info" asp-action="Create">Add New</a>
</div>
<table class="table">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('This item will be deleted');", style = "color:red;" })
            </td>
        </tr>
}
    </tbody>
</table>
